<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Hello World Application!</title>

    <meta name="description" content="Simple application to use in testing.">
    <meta name="author" content="Jon Haldiman">
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>